In [151]:
import pandas as pd

path = "Desktop/data_science_alura/"
dataset = pd.read_csv("{}dados_eyetracking.csv".format(path), sep = ';', index_col = 0)
dataset=dataset.reset_index()
dataset

,PatientNAme,PatientBirthday,PatientGender,CollectionDate,CollectionTime,Creatinine,Potassium,LactateDehydrogeNAse,Sodium,AST,...,MCHC,RDW,Leukocytes,Neutrophil,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet,cHis
0,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,02/09/2020,19:58:00,0.92,4.9,NaN,142.0,NaN,...,32.3,13.1,5600.0,3976.0,907.2,694.4,11.2,11.2,229.0,2
1,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,05/09/2020,12:13:00,0.90,4.6,236.0,140.0,27.0,...,32.2,13.5,7800.0,5686.2,1115.4,975.0,0.0,23.4,251.0,1
2,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,06:49:00,0.71,3.9,220.0,139.0,NaN,...,31.7,13.4,5600.0,2996.0,1932.0,582.4,50.4,39.2,261.0,2
3,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,22:57:00,0.77,4.8,NaN,138.0,NaN,...,34.0,13.3,7300.0,5533.4,1299.4,438.0,7.3,21.9,283.0,0
4,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,09/09/2020,07:28:00,0.81,4.7,NaN,140.0,NaN,...,30.7,13.4,8000.0,4680.0,2328.0,832.0,152.0,8.0,304.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,TELMA REGINA JORGE DA SILVA,14/10/1950,F,14/11/2020,12:18:00,0.99,4.2,NaN,131.0,NaN,...,32.3,15.3,16400.0,13776.0,1640.0,918.4,32.8,32.8,229.0,0
248,TELMA REGINA JORGE DA SILVA,14/10/1950,F,21/11/2020,10:05:00,1.15,5.4,NaN,132.0,NaN,...,31.9,14.4,14800.0,8125.2,3344.8,3226.4,88.8,14.8,226.0,0
249,TELMA REGINA JORGE DA SILVA,14/10/1950,F,23/11/2020,02:41:00,1.14,4.2,NaN,131.0,NaN,...,32.9,14.3,12100.0,7030.1,2795.1,2190.1,72.6,12.1,236.0,0
250,TELMA REGINA JORGE DA SILVA,14/10/1950,F,26/11/2020,08:11:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
251,TELMA REGINA JORGE DA SILVA,14/10/1950,F,27/11/2020,10:03:00,1.24,3.9,NaN,135.0,NaN,...,31.9,14.6,11900.0,6473.6,3284.4,2034.9,95.2,11.9,259.0,0

In [152]:
dataset2 = dataset.iloc[:,[0,3]]
dataset2

                       PatientNAme CollectionDate
0     ADRIANA SALVIANO DE OLIVEIRA     02/09/2020
1     ADRIANA SALVIANO DE OLIVEIRA     05/09/2020
2     ADRIANA SALVIANO DE OLIVEIRA     07/09/2020
3     ADRIANA SALVIANO DE OLIVEIRA     07/09/2020
4     ADRIANA SALVIANO DE OLIVEIRA     09/09/2020
..                             ...            ...
247    TELMA REGINA JORGE DA SILVA     14/11/2020
248    TELMA REGINA JORGE DA SILVA     21/11/2020
249    TELMA REGINA JORGE DA SILVA     23/11/2020
250    TELMA REGINA JORGE DA SILVA     26/11/2020
251    TELMA REGINA JORGE DA SILVA     27/11/2020

[252 rows x 2 columns]

In [153]:
dataset2.duplicated()

0      False
1      False
2      False
3       True
4      False
       ...
247    False
248    False
249    False
250    False
251    False
Length: 252, dtype: bool

In [159]:
dataset['duplicados'] = (dataset2.duplicated())
dataset

SyntaxError: invalid syntax (Temp/ipykernel_8832/2384740271.py, line 1)

In [155]:
for i in range(1, len(dataset)):
     if dataset.iloc[i]['duplicados'] == True:
           dataset.iloc[i-1,5:30] = dataset.iloc[i-1:i+1,5:30].mean()
dataset

,PatientNAme,PatientBirthday,PatientGender,CollectionDate,CollectionTime,Creatinine,Potassium,LactateDehydrogeNAse,Sodium,AST,...,RDW,Leukocytes,Neutrophil,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet,cHis,duplicados
0,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,02/09/2020,19:58:00,0.92,4.90,NaN,142.0,NaN,...,13.10,5600.0,3976.0,907.2,694.4,11.20,11.20,229.0,2,False
1,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,05/09/2020,12:13:00,0.90,4.60,236.0,140.0,27.0,...,13.50,7800.0,5686.2,1115.4,975.0,0.00,23.40,251.0,1,False
2,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,06:49:00,0.74,4.35,220.0,138.5,NaN,...,13.35,6450.0,4264.7,1615.7,510.2,28.85,30.55,272.0,2,False
3,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,22:57:00,0.77,4.80,NaN,138.0,NaN,...,13.30,7300.0,5533.4,1299.4,438.0,7.30,21.90,283.0,0,True
4,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,09/09/2020,07:28:00,0.81,4.70,NaN,140.0,NaN,...,13.40,8000.0,4680.0,2328.0,832.0,152.00,8.00,304.0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,TELMA REGINA JORGE DA SILVA,14/10/1950,F,14/11/2020,12:18:00,0.99,4.20,NaN,131.0,NaN,...,15.30,16400.0,13776.0,1640.0,918.4,32.80,32.80,229.0,0,False
248,TELMA REGINA JORGE DA SILVA,14/10/1950,F,21/11/2020,10:05:00,1.15,5.40,NaN,132.0,NaN,...,14.40,14800.0,8125.2,3344.8,3226.4,88.80,14.80,226.0,0,False
249,TELMA REGINA JORGE DA SILVA,14/10/1950,F,23/11/2020,02:41:00,1.14,4.20,NaN,131.0,NaN,...,14.30,12100.0,7030.1,2795.1,2190.1,72.60,12.10,236.0,0,False
250,TELMA REGINA JORGE DA SILVA,14/10/1950,F,26/11/2020,08:11:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False
251,TELMA REGINA JORGE DA SILVA,14/10/1950,F,27/11/2020,10:03:00,1.24,3.90,NaN,135.0,NaN,...,14.60,11900.0,6473.6,3284.4,2034.9,95.20,11.90,259.0,0,False

In [157]:
dataset = dataset[dataset.duplicados != True]
dataset = dataset.drop('duplicados', 1)
#dataset = dataset.iloc[:,0:31]
dataset

C:\Users\CESAR~1.NOR\AppData\Local\Temp/ipykernel_8832/478780238.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('duplicados', 1)

,PatientNAme,PatientBirthday,PatientGender,CollectionDate,CollectionTime,Creatinine,Potassium,LactateDehydrogeNAse,Sodium,AST,...,MCHC,RDW,Leukocytes,Neutrophil,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet,cHis
0,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,02/09/2020,19:58:00,0.92,4.90,NaN,142.0,NaN,...,32.30,13.10,5600.0,3976.0,907.2,694.4,11.20,11.20,229.0,2
1,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,05/09/2020,12:13:00,0.90,4.60,236.0,140.0,27.0,...,32.20,13.50,7800.0,5686.2,1115.4,975.0,0.00,23.40,251.0,1
2,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,06:49:00,0.74,4.35,220.0,138.5,NaN,...,32.85,13.35,6450.0,4264.7,1615.7,510.2,28.85,30.55,272.0,2
4,ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,09/09/2020,07:28:00,0.81,4.70,NaN,140.0,NaN,...,30.70,13.40,8000.0,4680.0,2328.0,832.0,152.00,8.00,304.0,1
5,ARLENE CAVALINI DO NASCIMENTO,16/10/1967,F,15/03/2020,08:27:00,0.52,NaN,NaN,NaN,NaN,...,33.30,12.70,5400.0,2754.0,2219.4,259.2,162.00,5.40,194.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,TELMA REGINA JORGE DA SILVA,14/10/1950,F,14/11/2020,12:18:00,0.99,4.20,NaN,131.0,NaN,...,32.30,15.30,16400.0,13776.0,1640.0,918.4,32.80,32.80,229.0,0
248,TELMA REGINA JORGE DA SILVA,14/10/1950,F,21/11/2020,10:05:00,1.15,5.40,NaN,132.0,NaN,...,31.90,14.40,14800.0,8125.2,3344.8,3226.4,88.80,14.80,226.0,0
249,TELMA REGINA JORGE DA SILVA,14/10/1950,F,23/11/2020,02:41:00,1.14,4.20,NaN,131.0,NaN,...,32.90,14.30,12100.0,7030.1,2795.1,2190.1,72.60,12.10,236.0,0
250,TELMA REGINA JORGE DA SILVA,14/10/1950,F,26/11/2020,08:11:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
251,TELMA REGINA JORGE DA SILVA,14/10/1950,F,27/11/2020,10:03:00,1.24,3.90,NaN,135.0,NaN,...,31.90,14.60,11900.0,6473.6,3284.4,2034.9,95.20,11.90,259.0,0

In [136]:
#Baixando o arquivo, lembre de alterar..
import pandas as pd

path = "Desktop/data_science_alura/"
dataset = pd.read_csv("{}dados_eyetracking.csv".format(path), sep = ';', index_col = 0)
dataset=dataset.reset_index()

#criando uma coluna que afirmar se um dado é uma duplicata
dataset2 = dataset.iloc[:,[0,3]]
dataset['duplicados'] = (dataset2.duplicated())

#Identifica a duplicata e faz a média das duas coletas
for i in range(1, len(dataset)):
     if dataset.iloc[i]['duplicados'] == True:
           dataset.iloc[i-1,5:30] = dataset.iloc[i-1:i+1,5:30].mean()
        
#Exclui as linhas duplicadas a coluna que identifica se a a linha é duplicada
dataset = dataset[dataset.duplicados != True]
dataset = dataset.drop('duplicados', 1)   

#exporta para excel
dataset.to_csv("{}dados_eyetracking_editados.csv".format(path), index = True, header=True)
dataset

,PatientBirthday,PatientGender,CollectionDate,CollectionTime,Creatinine,Potassium,LactateDehydrogeNAse,Sodium,AST,ALT,...,RDW,Leukocytes,Neutrophil,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet,cHis,duplicados
PatientNAme,,,,,,,,,,,,,,,,,,,,,
ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,02/09/2020,19:58:00,0.92,4.9,NaN,142.0,NaN,NaN,...,13.1,5600.0,3976.0,907.2,694.4,11.2,11.2,229.0,2.0,False
ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,05/09/2020,12:13:00,0.90,4.6,236.0,140.0,27.0,28.0,...,13.5,7800.0,5686.2,1115.4,975.0,0.0,23.4,251.0,1.0,False
ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,06:49:00,0.71,3.9,220.0,139.0,NaN,NaN,...,13.4,5600.0,2996.0,1932.0,582.4,50.4,39.2,261.0,2.0,False
ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,07/09/2020,22:57:00,0.77,4.8,NaN,138.0,NaN,NaN,...,13.3,7300.0,5533.4,1299.4,438.0,7.3,21.9,283.0,0.0,False
ADRIANA SALVIANO DE OLIVEIRA,13/02/1973,F,09/09/2020,07:28:00,0.81,4.7,NaN,140.0,NaN,NaN,...,13.4,8000.0,4680.0,2328.0,832.0,152.0,8.0,304.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TELMA REGINA JORGE DA SILVA,14/10/1950,F,14/11/2020,12:18:00,0.99,4.2,NaN,131.0,NaN,NaN,...,15.3,16400.0,13776.0,1640.0,918.4,32.8,32.8,229.0,0.0,False
TELMA REGINA JORGE DA SILVA,14/10/1950,F,21/11/2020,10:05:00,1.15,5.4,NaN,132.0,NaN,NaN,...,14.4,14800.0,8125.2,3344.8,3226.4,88.8,14.8,226.0,0.0,False
TELMA REGINA JORGE DA SILVA,14/10/1950,F,23/11/2020,02:41:00,1.14,4.2,NaN,131.0,NaN,NaN,...,14.3,12100.0,7030.1,2795.1,2190.1,72.6,12.1,236.0,0.0,False
TELMA REGINA JORGE DA SILVA,14/10/1950,F,26/11/2020,08:11:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,False
TELMA REGINA JORGE DA SILVA,14/10/1950,F,27/11/2020,10:03:00,1.24,3.9,NaN,135.0,NaN,NaN,...,14.6,11900.0,6473.6,3284.4,2034.9,95.2,11.9,259.0,0.0,False